<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<p class="lead mb-3">USER ID = <%= id %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<div class="container">
  <br />
  <div class="jumbotron">
    <h1 class="display-4">Send Message</h1>
    <textarea
      id="message"
      class="form-control"
      placeholder="Your Message Here"
    ></textarea>
    <br />
    <button id="send-msg" class="btn btn-success">Send</button>
  </div>
  <div id="messages"></div>
</div>
